<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>VOD</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet"/>
</head>
<body>
<header>
    <a href="./"><h1>Cars</h1></a>
    <h2 th:text="${title}"></h2>
    <h3>
    </h3>
</header>
<section>

    <table>
        <tr>
            <th>Model</th>
            <th>Brand</th>
            <th>Price</th>
            <th>Filtr</th>

        </tr>
        <tr th:each="c : ${cars}">

            <td th:text="${c.model}"></td>

            <td>

                <a th:href="@{/cars?brandId={id}(id=${c.brand.id})}">                <img th:src="${c.brand.logo}"/></a>
            </td>
            <td class="price" th:text="${c.price}"></td>
            <td class="search-container">
                <a class="search" th:href="@{/dealerships?carId={id}(id=${c.id})}"></a>
            </td>
        </tr>
    </table>

</section>
<div id="orders">
</div>
<footer>
    ${tip}
</footer>

</body>
</html>